build/
node_modules/
coverage/
reports/
report/
.env*
Dockerfile
Makefile
.circleci/
.github/
.git/
.gitignore
.nvmrc
.editorconfig
jest.config.json
stryker.conf.json
.vscode/
docker-compose.yml
nginx.conf
